@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;350;400;450;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 11px;
    font-family: 'Roboto Slab', serif;
}

:root {
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-title {
    font-size: 8rem;
    font-weight: 400;
    color: black;
    letter-spacing: 0.01rem;
    text-align: center;

    margin-bottom: 40px;
}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
}

.cta {
    display: inline-block;
    font-size: 2rem;
    color: gray;
    text-decoration: none;
    letter-spacing: 0rem;
    transition: .45s ease;
}

.cta:hover{
    color: black;
}

h1, h2, h3, p {
    display: inline-block;
    padding: none;
    text-align: center;
}

p{
    font-size: 1.6rem;
}

/* Header Section ------------------------------------------------------------------------------------------ */

#header .header {
    position: fixed;
    min-height: 5.5vh;

    z-index: 999;

    align-items: flex-end;

    background-color: white;

}


#header .nav-bar {
    
    width: 100%;
    max-width: 1200px;

    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid black;

    margin-left: 20px;
    margin-right: 20px;

    padding-bottom: 5px;
    
}

#header .nav-bar .nav-logo{
    font-size: 2rem;
    color: black;
}

#header .nav-bar .nav-list a{
    margin-left: 1rem;
}

#header .nav-bar .hamburger {
    display: none;
}

#header .nav-bar .hamburger .bar{
    display: block;
    width: 30px;
    height: 4px;
    background-color: black;

    margin: 2px auto;
    border: 1px solid ;
}


@media screen and (max-width: 700px) {

    #header .header .nav-bar .nav-list {
        display: none;
    }
    #header .header .nav-bar .hamburger{
        display: flex;
        flex-direction: column;

        align-items: center;
        justify-content: center;

    }
}

/* Hero Section ------------------------------------------------------------------------------------------ */

#home .home {
    flex-direction: column;
    max-width: 1200px;
    margin: 0px auto;
    padding: 100px 20px;
}

#home .home .greeting-text {
    font-size: 6rem;
    font-weight: 400;
}

#home .home .name-text h1{
    font-size: 15rem;
    font-weight: 350;
}

#home .home .socials {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: center;
    align-content: center;

    gap: 1rem;
}


/* Skills Section ------------------------------------------------------------------------------------------*/

#skills .skills {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#skills .skills .section-title span {
    font-size: 2rem;
}

#skills .col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;

    align-items: flex-start;
    justify-content: space-evenly;
    align-content: center;

}

#skills .col .skillset-col .col-name h1 {
    font-size: 2rem;
    font-weight: 400;
}

#skills .col .skillset-col {
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 0px;
    margin-bottom: 20px;
}

#skills .col .skillset-col:nth-child(2n){
    margin-left: 30px;
    margin-right: 30px;
}

#skills .col .skillset-col .skillset-item {
    display: flex;
    flex-direction: row;
    width: 275px;
    height: 100px;

    align-items: center;
    justify-content: space-around;

    padding: 20px;
    margin-top: 20px;
    border-radius: 6px; 
    border: 2px solid black
}

#skills .col .skillset-col .skillset-icon {
    width: 50px;
}

#skills .col .skillset-col .skill-title {
}

/* About Section ------------------------------------------------------------------------------------------*/

#about .about {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    
    --about_image_horizontal_frame: 15px;
    --about_image_vertical_frame: 15px;
}

#about .col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    align-content: right;
}

#about .col-left {
    max-width: 650px;
}

#about .col-left .about-img {
    margin-left: var(--about_image_horizontal_frame);
    margin-bottom: var(--about_image_vertical_frame);
    position: relative;
}

#about .col-left .about-img::after {
    content: '';
	position: absolute;
	left: calc(-1 * var(--about_image_horizontal_frame));
	bottom: calc(-1 * var(--about_image_vertical_frame));
	height: 98%;
	width: 98%;
	border: 4px solid black;
    border-radius: 6px;
	z-index: -1;
}

#about .col-right {
    padding: 40px;
    max-width: 750px;
    text-align: center;
}

#about .col-right h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 400;
}

/* Contact Section ------------------------------------------------------------------------------------------*/

#contact .contact{
    flex-direction: column;
    max-width: 1200px;

    margin: 0 auto;
    padding: 100px 20px;
}

#contact .contact-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

  
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

#contact .contact-items .contact-item {
    display: flex;
    flex-direction: row;
    width: 275px;
    height: 100px;

    align-items: center;
    align-content: center;
    justify-content: space-around;

    margin-top: 0px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 6px;
    border: 2px solid black;
}

#contact .contact-items .contact-item:nth-child(2n) {
    margin-left: 30px;
    margin-right: 30px;

}

#contact .contact-item .social-icon {   
    width: 50px;
}


#contact .contact-item .social-text {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

#contact .contact-item .social-text h1 {
    font-size: 2rem;
    font-weight: 400;
}


#contact .contact-item .social-text p {
    margin-top: 12.5px;
}