@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;350;400;450;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    /*
    box-sizing: border-box an element's total width and height includes the padding and border.
    */
    box-sizing: border-box;
}

/* Styling the HTML element. This means that we can style the functionality of the webpage.*/
html {
    scroll-behavior: smooth;
    font-size: 10px;
    font-family: 'Roboto Slab', serif;
}

/* Defines the properties of any of the containers designated as classes with the keyword "container".*/
.container {
    /* Set the height of the container to be the entirety of the viewport height. */
    min-height: 100vh;
    /* Set the width of the container to be the entirety of the width of the viewport width. */
    width: 100%;
    /* display: flex defines a flex container (an area of a document laid to contain subsequent flex items). 
    Note that the flex direction is "row" by default. The main-axis is from left to right.
    */
    display: flex;
    /*
    justify-content defines the alignment of flex items within the flex container along the main axis (the main
    axis in this case is along the horizontal axis).
    */
    justify-content: center;
    /*
    align-items defines the alignment of flex items within the flex container along the cross-axis (the croass-axis in
    this case is along the vertical axis).
    */
    align-items: center;
}

.section-title {
    margin-bottom: 20px;
    font-size: 6rem;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
    letter-spacing: 0.01rem;
    text-align: center;
}

img {
    height: 100%;
    width: 100%;
    /*
    object-fit: property is used to specify how an <img> or <video> should be resized to fit its container.
    contain: The replaced content is scaled to maintain its aspect ratio while fitting within the element's content box.
    */
    object-fit: contain;
}
.cta {
    display: inline-block;
    border: 2px solid black;
    color: black;
    font-size: 2rem;
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 30px;
    letter-spacing: 0.01rem;
    transition: .45s ease;
    transition-property: background-color, color;

}
.cta:hover{
    color: white;
    background-color: black;
}
p{
    color: black;
    letter-spacing: 0.005rem;
    font-size: 1.6rem;

}
/* Hero Section*/
#home .home {
    flex-direction: column;
}
#home .home .social-icons {
    display: flex;
    flex-direction: row;
}

/* About Section */
/* An extension of defining the flex container for the "About Section". */
#about .about {
    /* The flex items within the flex container will wrap-reverse when the viewport width become too small. */
    flex-wrap: wrap-reverse;
    /* The maximum width of this specific flex container is 1200px. */
    max-width: 1200px;
    /* The margins space that surrounds the border of the current container element has no space between the top and bottom border and top and bottom screen. Horizontally, the margin between 
    the current container element's right and left border and the right and left corners of the screen are automatically adjusted to be centered. */
    margin: 0 auto;
    /*
    align-content determines the spacing between lines of flex items within the container. In this case, when the flex items in the flex container wrap-reverse, then the separate lines of flex
    containers will be packed toward the center of the flex container.
    */
    align-content: center;
    /* We are padding the flex items within the container from the border of the container by 100px for the top and bottom, and 20px for side to side.*/
    padding: 100px 20px;

        
}

/* Encapsulates a flex item (within the overarching flex container) that details the properties of the left column.*/
#about .col-left {
    width: 360px;
    height: 250px;
}
#about .col-left .about-img {
    position: relative;
}

#about .col-left .about-img::after {
    content: '';
	position: absolute;
	left: -33px;
	top: 16px;
	height: 98%;
	width: 98%;
	border: 10px solid black;
	z-index: -1;
}

/* Encapsulates a flex item (within the overarching flex container) that details the properties of the right column.*/
#about .col-right {
    padding: 40px;
    max-width: 750px;
}

#about .col-right h1 {
    text-align: left;
}

#about .col-right h2 {
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 400;
    color: black;
}

#about .col-right p {
    margin-bottom: 20px;
}
