@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;350;400;450;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 11px;
    font-family: 'Roboto Slab', serif;
}

:root {
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.section-title {
    font-size: 8rem;
    font-weight: 400;
    color: black;
    letter-spacing: 0.01rem;
    text-align: center;

    margin-bottom: 40px;



}

img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    border-radius: 6px;
}

.cta {
    display: inline-block;
    border: 2px solid black;
    border-radius: 6px;
    font-size: 2rem;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin-top: 30px;
    letter-spacing: 0.005rem;
    transition: .5s ease;
}

.cta:hover{
}

h1, h2, h3, p {
    display: inline-block;
    padding: none;
    letter-spacing: 0.005rem;
    text-align: center;
}

p{
    font-size: 1.6rem;
}

/* Hero Section ------------------------------------------------------------------------------------------ */

#home .home {
    flex-direction: column;
    max-width: 1200px;
    margin: 0px auto;
    padding: 100px 20px;
}

#home .home .greeting-text {
    font-size: 7.5rem;
    font-weight: 400;
}

#home .home .name-text {
    font-size: 15rem;
    font-weight: 350;
}

#home .home .social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 10px;
}

#home .home .social-icon {
    height: 55px;
    width: 55px;
    text-align: center;
}

#home .home .social-item img {

}

#home .home .social-item img:hover{
}

/* Skills Section ------------------------------------------------------------------------------------------*/

#skills .skills {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#skills .skills .section-title span {
    font-size: 2rem;
}

#skills .col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;

    align-items: flex-start;
    justify-content: space-evenly;
    align-content: center;
}

#skills .col .skillset-col .col-name h1 {
    font-size: 2rem;
    font-weight: 400;
}

#skills .col .skillset-col {
    display: flex;
    flex-direction: column;
    width: 300px;

    align-items: center;

    margin: 20px;
    margin-top: 0px;
}

#skills .col .skillset-col .skillset-item {
    display: flex;
    flex-direction: row;
    width: 300px;

    align-items: center;
    justify-content: space-evenly;

    padding: 15px;
    margin-top: 20px;
    border-radius: 6px; 
    border: 2px solid black
}

#skills .col .skillset-col .skillset-icon {
    width: 55px;
    height: 55px;
}

/* About Section ------------------------------------------------------------------------------------------*/

#about .about {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
    
    --about_image_horizontal_frame: 10px;
    --about_image_vertical_frame: 7px;
}

#about .col {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    align-content: right;
}

#about .col-left {
    max-width: 650px;
}

#about .col-left .about-img {
    margin-left: var(--about_image_horizontal_frame);
    margin-bottom: var(--about_image_vertical_frame);
    position: relative;
}

#about .col-left .about-img::after {
    content: '';
	position: absolute;
	left: calc(-1 * var(--about_image_horizontal_frame));
	bottom: calc(-1 * var(--about_image_vertical_frame));
	height: 98%;
	width: 98%;
	border: 3.5px solid black;
    border-radius: 6px;
	z-index: -1;
}

#about .col-right {
    padding: 40px;
    max-width: 750px;
    text-align: center;
}

#about .col-right h2 {
    margin-bottom: 15px;
    font-size: 2rem;
    font-weight: 400;
}

#about .col-right .cta {
    margin-top: 20px;
}

#about .col-right p {
    margin-bottom: 15px;
}

/* Contact Section ------------------------------------------------------------------------------------------*/

#contact .contact{
    flex-direction: column;
    max-width: 1200px;

    margin: 0 auto;
    padding: 100px 20px;
}

#contact .contact-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    max-width: 1200px;

    align-items: center;
    justify-content: space-evenly;
    align-content: center;
}

#contact .contact-items .contact-item {
    display: flex;
    flex-direction: row;
    width: 300px;

    align-items: center;
    align-content: center;
    justify-content: space-evenly;

    margin: 20px;
    margin-top: 0px;
    padding: 15px;
    border-radius: 6px;
    border: 2px solid black;
}

#contact .contact-items .contact-item:nth-child(2n) {
    margin-left: 10px;
    margin-right: 10px;
}

#contact .contact-item .social-icon {
    height: 55px;
    width: 55px;
}


#contact .contact-item .social-text {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: center;
}

#contact .contact-item .social-text h1 {
    font-size: 2rem;
    font-weight: 400;
}

#contact .contact-item .social-text p {
    margin-top: 15px;
    color: black;
    text-decoration: none;
}